.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    div{
        width: 40%;
    }
}

@media (max-width:1200px){
    .menu{
        div{
            width: 90%;
        }
    }
}