.custom-card {
    background-color: var(--color1);
    border-radius:13px ;
    margin: 10px;
  }
  
  .custom-header {
    background-color: var(--color1);
  }
  
  .custom-title {
    color: #ffffff;
    span{
        color: rgb(157, 255, 144);
    }
  }
  
  .custom-subtitle {
    color: #ffffff;
  }