
<div class="login-container">
    <form class="example-form" [formGroup]="formLogin">
        <mat-form-field class="example-full-width">
          <mat-label class="label-login">Email</mat-label>
          <input class="input-login" formControlName="email" matInput type="email" >
          <mat-error *ngIf="emailControl.invalid">
            email incorrecto
          </mat-error>
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <mat-label >Password</mat-label>
            <input formControlName="password" matInput type="password">
          </mat-form-field>
          <mat-error *ngIf="passControl.invalid">
            Contraseña invalida
          </mat-error>
          <div class="buttonsContainer">
            <button mat-raised-button color="accent" (click)="login()">Login</button>
            <button mat-raised-button routerLink="/dashboard/home">Continuar sin cuenta</button>
          </div>
        </form>
      </div>