
.custom-card {
    background-color: var(--color1);
    margin: 10px
}

.custom-header {
    padding: 10px;
    background-color: var(--color1);
  }
  
  .custom-title {
    color: #ffffff;
  }
  
  .custom-subtitle {
    color: #ffffff;
  }