<form class="example-form" >
    <div class="example-full-width" >
        <textarea  matInput placeholder="Escribe tu post"  [(ngModel)]="postContent" name="postContent" class="custom-textarea " [ngClass]="{'darkmode' : darkMode | async}"></textarea>
    </div>  
    <div *ngIf="(loader | async)" class="loader--container">
        <span class="loader"></span>
    </div>
      <button   mat-raised-button color="primary" type="button" (click)="publishPost()" [attr.disabled]="!(loader | async) ? null : true">Publicar</button>
  </form>
