<p class="navbar-profile--container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="navbar-profile">
                <button mat-button routerLink="./" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <span>
                      Mi cuenta 
                  </span>
                </button>
                <button mat-button routerLink="posts" routerLinkActive="active">
                 <span>
                     Posteos 
                    </span>   
                </button>
            </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>