<mat-toolbar color="primary" class="navbar--container">
    <div>
        <button  *ngIf="width < 768px" (click)="drawer.toggle()" mat-icon-button class="example-icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>The-Fuca-Social</span>
    </div>
    <div class="btn-darkMode">
        <mat-icon>nights_stay</mat-icon>
        <mat-slide-toggle [checked]="isDarkModeOn"  color="primary" (click)="toggleTheme()"></mat-slide-toggle>
    </div>
    
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    <button  [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="clearNotificationCount()">
        <mat-icon matBadge={{newNotifications}} matBadgeColor="warn" aria-hidden="false">notifications</mat-icon>
        <mat-menu #menu >
            <app-notifier />
        </mat-menu>
    </button>
    <div ngClass="nav-menu" *ngIf="width > 768px" class="app-list">
        <app-list/>
    </div>
    <div>
        <span *ngIf="name" >{{name}}</span>
        <button mat-raised-button color="accent"  *ngIf="!name" routerLink="/auth/login">Iniciar sesion</button>
    </div>

</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
    <mat-drawer  #drawer class="example-sidenav" mode="side">
        <button mat-raised-button color="primary" (click)="drawer.toggle()"> x </button>
        <app-list/>
    </mat-drawer>
</mat-drawer-container>
  