.navbar--container{
    height: 10vh;
}
.app-list{
    width: 100%;
}
.example-container{
    height: 100vh;
    top: 0px;
    position: fixed;
    z-index: 1100;
    .example-sidenav{
        background-color: var(--color1);
        width: 80vw;
        button{
            margin: 20px;
        }
    }
}
.btn-darkMode{
    margin: 10px;
    display: flex;
    width: 200px;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav-menu{
        opacity: 0;
    }
}