<p class="navbar-friends--container">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <div class="navbar-profile">
                <button mat-button routerLink="list" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                  <span>
                      Mis amigos
                  </span>
                </button>
                <button mat-button routerLink="request" routerLinkActive="active">
                 <span>
                     Solicitudes
                    </span>   
                </button>
            </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>