
<div class="card-profile">
    <div class="card-profile--header">
        <h3>
            {{ (userdata | async)?.name }}
        </h3>
    </div>
    <div class="card-profile--body">
            <span class="card-profile--body__item">  {{ (userdata | async)?.email }}</span>
            <span class="card-profile--body__item">  {{ (userdata | async)?.createdAt }}</span>
    </div>
    <div class="card-profile--footer">
        <button  mat-raised-button color="warn" (click)="logout()">Cerrar sesion</button>
    </div>
</div>

