
<div class="card-profile" *ngIf="(userdata | async)">
    <div class="card-profile--header">
        <h3>
            {{ (userdata | async)?.name }}
        </h3>
    </div>
    <div class="card-profile--body">
            <span class="card-profile--body__item">  {{ (userdata | async)?.email }}</span>
            <span class="card-profile--body__item">  {{ (userdata | async)?.createdAt }}</span>
    </div>
    <div class="card-profile--footer">
        <button  mat-raised-button color="warn" (click)="logout()">Cerrar sesion</button>
    </div>
</div>
<div *ngIf="!(userdata | async)">
    <div class="buttonsSesion">
        <button  mat-raised-button color="warn" routerLink="/auth/login">Iniciar sesion </button>
        <button  mat-raised-button color="warn" routerLink="/auth/register">Crear cuenta </button>
    </div>
</div>

