<span *ngIf="(loader | async)"  class="loader"></span>

<div class="chatWithFriend" *ngIf="!(loader | async) && (loader | async) !== null">
    <p>{{userChat.name}}</p>
    <div #chatContent  class="chat-content">
        <div *ngFor="let messages of chat | async">
            <p [ngClass]="messages.userId == userId ? 'myMessage' : 'friendMessage'">
                <mat-icon>
                    account_circle
                </mat-icon>
                {{messages.message}}
            </p>
        </div>
    </div>
    <div class="inputChat">
        <input type="text" [(ngModel)]="message" >
        <button (click)="createMessage()" mat-button color="basic">send</button>
    </div>
</div>