/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root{
    --color1: #673ab7 ;
    
}

.darkmode{
    color: white;
    background-color: black;
}

.lightmode{
    color: black;
    background-color: white;
}

