.example-form {
    width: 100%;
    max-width: 500px;
    margin: auto;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  textarea {
    resize: none; /* Evita que el usuario redimensione el área de texto */
  }
  
  